{
    "endpoint": "/aggregation/api/{param_1}/warmup",
    "method": "POST",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/aggregate/warmup",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "http://unicorn-aggregation-warmup.{param_1}"
            ],
            "disable_host_sanitize": true
        }
    ]
},
{
    "endpoint": "/aggregation/api/{param_1}/warmup/status",
    "method": "GET",
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/aggregate/warmup/status",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "http://unicorn-aggregation-warmup.{param_1}"
            ],
            "disable_host_sanitize": true
        }
    ]
}