{
    "endpoint": "/ams/api/{param_1}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "pageNumber",
        "pageSize",
        "sortBy"
    ],
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "userId",
        "email",
        "firstName",
        "lastName",
        "groupName"
    ],
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}/{param_3}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "pageNumber",
        "pageSize",
        "sortBy"
    ],
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}/{param_3}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}/{param_3}/{param_4}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "pageNumber",
        "pageSize",
        "sortBy"
    ],
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}/{param_3}/{param_4}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "X-XSRF-TOKEN"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "X-XSRF-TOKEN"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}/{param_3}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "X-XSRF-TOKEN"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}/{param_3}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/ams/api/{param_1}/{param_2}/{param_3}/{param_4}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "X-XSRF-TOKEN"
    ],
    "backend": [
        {
            "url_pattern": "/ams/api/{param_1}/{param_2}/{param_3}/{param_4}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .ams }}"
            ],
            "disable_host_sanitize": false
        }
    ]
}