{
    "endpoint": "/rts/api/{param_1}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "pageNumber",
        "pageSize",
        "sortBy"
    ],
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie"
    ],
    "backend": [
        {
        "url_pattern": "/rts/api/{param_1}/{param_2}",
        "encoding": "no-op",
        "method": "GET",
        "host": [
            "{{ .rts }}"
        ],
        "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_query_strings": [
        "key",
        "value",
        "withChild"
    ],
    "input_headers": [
        "Cookie",
        "x-org-id",
        "x-env-id",
        "x-ou-id",
        "Authorization"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}",
            "encoding": "no-op",
            "method": "GET",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_query_strings": [
        "dmId"
    ],
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id",
        "Authorization",
        "action"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id",
        "Authorization"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
    "method": "POST",
    "output_encoding": "no-op",
    "input_query_strings": [
        "action"
    ],
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id",
        "Authorization"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
            "encoding": "no-op",
            "method": "POST",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
    "method": "PUT",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
            "encoding": "no-op",
            "method": "PUT",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}",
    "method": "DELETE",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id",
        "key",
        "value"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}",
            "encoding": "no-op",
            "method": "DELETE",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
},
{
    "endpoint": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
    "method": "DELETE",
    "output_encoding": "no-op",
    "input_headers": [
        "Cookie",
        "Content-Type",
        "x-org-id",
        "x-env-id",
        "x-ou-id"
    ],
    "backend": [
        {
            "url_pattern": "/rts/api/{param_1}/{param_2}/{param_3}/{param_4}",
            "encoding": "no-op",
            "method": "DELETE",
            "host": [
                "{{ .rts }}"
            ],
            "disable_host_sanitize": false
        }
    ]
}